@media (max-width: 990px) {
    .navbar__collection{
        display: none;
    }
    .hero__wrapper{
        flex-wrap: wrap;
        padding: 80px 0 80px;
        gap: 80px;
    }
    .hero__text{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .hero__title{
        font-size: 28px;
    }
    .hero__image{
        width: 100%;
        display: flex;
        justify-content:center;
    }
    .category__wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .category__title{
        font-size: 28px;
    }
    .category__desc{
        font-size: 14px;
    }
    .products__wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .btn{
        font-size: 14px;
        padding: 10px 20px;
    }
    .subscribe__img img{
        display: none;
    }
}
@media (max-width: 650px){
    .subtitle{
        font-size: 12px;
    }
    .title{
        font-size: 26px;
    }
    .category__wrapper{
        grid-template-columns: 1fr;
    }
    .category__title{
        font-size: 22px;
    }
    .category__desc{
        font-size: 12px;
    }
    .navbar{
        height: 60px;
    }
    .products__wrapper{
        grid-template-columns: 1fr;
    }
    .product__brand{
        font-size: 18px;
    }
    .product__price{
        font-size: 18px;
    }
    .product__price del{
        font-size: 16px;
    }
    .btn{
        font-size: 12px;
        padding: 8px 16px;
    }
    .product__btn{
        margin-top: 30px;
    }
    .footer p{
        font-size: 12px;
    }
}
@media (max-width: 550px){
    .about__text{
        display: none;
    }
    .subscribe__wrapper{
        padding: 16px 40px;
    }
}
@media (max-width: 450px){
    .hero__search{
        padding: 2px 4px 2px 9px;
        width: 80%;
        height: 50px;
    }
    .hero__search input{
        text-indent: 5px;
    }
    .btn{
        display: none;
    }
    .category__card{
        padding: 26px 32px;
    }
    .navbar{
        height: 45px;
    }
}
